<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<title>AngularJS</title>
	<style type="text/css">
	</style>
	<script type="text/javascript" src="js/angular.min.js">
	</script>
	<script type="text/javascript" src="js/animate.min.js">
	</script>
</head>
	<body ng-controller="myCtrl">

	<input ng-model="names" type="text">

	<div ng-controller="myCtrl2">
		<input ng-model="phone" type="text">
		<p>{{phone}}</p> 
		<h2>{{names + " " }}</h2>
		{{5+10}}
	</div>
	<p>You are  {{now-dob}} Years old </p>
	<p>{{names}}</p>

			<script type="text/javascript">
			var app = 	angular.module("myapp",[]);
			app.controller("myCtrl",function($scope){
				$scope.names = "";
				$scope.now = 2015;
				$scope.dob = 1990;
			});
			app.controller("myCtrl2",function($scope){
				$scope.phone;
			});

			function myCtrl3($scope){
				$scope.email;
			}

			</script>
	</body>
</html>