<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<title>AngularJS</title>
	<style type="text/css">
	</style>
	<script type="text/javascript" src="js/angular.min.js">
	</script>
	<script type="text/javascript" src="js/animate.min.js">
	</script>
</head>
<body ng-controller="myCtrl2">
		<input type="text" name="qry" ng-model="query">

		<ul ng-repeat="country in countries |filter: query| orderBy:orderProp">
			<li>	 
			<a href="">{{country.name}}</a>
			<span>{{country.code}} </span>
			</li>
		</ul>


	

			<script type="text/javascript">
			var app = 	angular.module("myapp",[]);
			/*app.controller("myCtrl",function($scope){
				$scope.names = "";
				$scope.now = 2015;
				$scope.dob = 1990;
			});*/
			app.controller("myCtrl2",function($scope,$http){
				 $http.get('res/country.json').success(function(data){
				 	$scope.countries = data;
				 });
				
			});

			</script>
	</body>
</html>