<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<title>AngularJS</title>
	<style type="text/css">
	</style>
	<script type="text/javascript" src="js/angular.min.js">
	</script>
	<script type="text/javascript" src="js/animate.min.js">
	</script>
</head>
	<body ng-controller="myCtrl">

	<input ng-model="names" type="text">

	<div ng-controller="myCtrl2">
		<input ng-model="phone" type="text">
		<p>{{phone}}</p> 
		<h2>{{names + " " }}</h2>
		 <input ng-model="query" type="text">
		<ul ng-repeat="phone in phones | filter : query">
			<li><a href="">{{phone.name}}</a> <h6>{{phone.price}}</h6> </li>
		 
		</ul>
		<table border="4px" ng-repeat="phone in phones | filter : query">
			<tr>
				<td>{{phone.name}}</td>
				<td>{{phone.price}}</td>
			</tr>
		</table>
		<p>Total number of phones: 2</p>
	</div>
	<p>You are  {{now-dob}} Years old </p>
	<p>{{now}}</p>

			<script type="text/javascript">
			var app = 	angular.module("myapp",[]);
			app.controller("myCtrl",function($scope){
				$scope.names = "";
				$scope.now = 2015;
				$scope.dob = 1990;
			});
			app.controller("myCtrl2",function($scope){
				$scope.phones = [{'name':'Nexus','price':20000},{'name':'Iphone','price':250000},{'name':'Blackberry','price':250000},{'name':'Galaxy s6','price':450000}];
			});

			function myCtrl3($scope){
				$scope.email;
			}

			</script>
	</body>
</html>